* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.App {
  background-color: #202830;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: #fff;
}

h2 {
  margin-bottom: 100px;
}

.main {
  display: flex;

  min-height: 100vh;
}

.showcase {
  height: 100vh;
  width: 80%;
  border: 1px solid pink;
}

.buttons {
  border: solid 1px blue;
  color: pink;
  width: 20%;
}

.buttons button {
  padding: 10px;
  margin: 10px;
}
